node_modules/
.next/
out/
package-lock.json
__pycache__/
*.pyc
netlify/functions/*/.python_packages/

/src/generated/prisma

# Environment files
.env
.env.local
.env.production

# SQLite database
*.db
*.db-journal
